<!-- -*- xml -*-
     This launches the entire hkust baxter demo ... not recomended as it makes debuging imposible...
  -->
<launch>

  <!-- launch movit part-->
  <include file="$(find game_master)/launch/baxter_moveit_ttt.launch"/>

  <!-- launch game prep part-->
  <include file="$(find game_master)/launch/game_prep.launch"/>

  <!-- launch simtrack part-->
  <include file="$(find game_master)/launch/simtrack.launch"/>
  
</launch>
