<!-- -*- xml -*-
     THis launches launches the tf tree between the kinect and baxter ... if the pointcloud is in the wrong place change the tf here.
  -->
<launch>
<!--
At time 1504529131.762
- Translation: [0.100, -0.115, 0.923]
- Rotation: in Quaternion [-0.000, 0.320, 0.055, 0.946]
            in RPY (radian) [0.043, 0.649, 0.131]
            in RPY (degree) [2.469, 37.213, 7.490] -->

  <!-- Tf transform X,y,z, yaw,pitch,roll-->
  <node pkg="tf" type="static_transform_publisher" name="kinectTransformer" args="0.07 -0.07 0.92 0.07 0.628 0.0055 /world /kinect2_help 10" />
  <!-- point cloud is flipped (reason unkonwn) -->	
  <node pkg="tf" type="static_transform_publisher" name="kinectTransformer2" args="0.0 -0.0 0.0 -1.5707963 0.0 -1.5707963 /kinect2_help /kinect2_rgb_optical_frame 10" />
  <node pkg="tf" type="static_transform_publisher" name="kinectTransformer2ir" args="0.0 -0.0 0.0 -1.5707963 0.0 -1.5707963 /kinect2_help /kinect2_ir_optical_frame 10" />

</launch>
