<!-- -*- xml -*-
     THis launches the camera node (board cut out + camera)
  -->
<launch>
  
  <arg name="video_device" default="/dev/video0" />

  <!-- starte webcamnode-->
  <include file="$(find camera)/launch/webcam.launch">
    <arg name="video_device" value="$(arg video_device)" />
  </include>

  <!-- starte board cut out node-->
  <node pkg="camera" type="board_cutout" name="board_cutout" output="screen" />

  <!-- starte camera node-->
  <node pkg="camera" type="camera" name="camera" output="screen" />

</launch>
