<!-- -*- xml -*-
     THis launches the ros/visp/auto/tracker node
  -->
<launch>
  

<!-- starte game master node-->
<node pkg="game_master" type="game_master" name="game_master" output="screen" />

roslaunch baxter_gazebo baxter_world.launch right_electric_gripper:=false
rosrun baxter_tools enable_robot.py -e
rosrun baxter_interface joint_trajectory_action_server.py
roslaunch baxter_moveit_config baxter_grippers.launch right_electric_gripper:=false


</launch>
